body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.imagem-hospedagem {
  border-radius: 0.625rem;
  width: 16rem;
  height: 12rem;
}

.titulo-hospedagem {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

.moradias {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  max-width: 90%;
}

.descricao-hospedagem {
  font-weight: 400;
}

.local-hospedagem {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

.diaria-hospedagem {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

.moradias > .term {
  text-align: center;
  max-width: 20rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.609);
  transition: all 100ms ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
